{% extends 'base.html' %} 
{% block title %}New Post{% endblock %} 
{% block content %}

<style>
    .profilePhoto{
        width:150px;
        height: 150px;
        border-radius: 100%;
        object-fit: cover;
        margin: auto;
        display: table;
    }
</style>

<div class="container">
    <div class="innercontainer mt-5">
        <div class="row">
            {% for i in data %}
            <div class="col-lg-4 center">
                <img src="{{i.Profile.profilePhoto.url}}" class="profilePhoto" alt="">
                <div class="text-center">
                    <p class="fs-4">
                        {{i}}
                    </p>
                    <a href="" class="btn btn-outline-primary">View Profile</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
